export(dALD)
export(pALD)
export(qALD)
export(rALD)
export(momentALD)
export(meanALD)
export(varALD)
export(skewALD)
export(kurtALD)
export(absALD)
export(likALD)
export(mleALD)
importFrom(stats,runif,optimize)